In [1]:
%load_ext autoreload
%autoreload 2

# ITLPCampus dataset usage example

In [2]:
from opr.datasets.itlp import ITLPCampus

#### Dataset download

You can download the dataset:

- Kaggle:
  - [ITLP Campus Indoor](https://www.kaggle.com/datasets/alexandermelekhin/itlp-campus-indoor)
- Hugging Face:
  - [ITLP Campus Indoor](https://huggingface.co/datasets/OPR-Project/ITLP-Campus-Indoor)

In [3]:
WHOLE_DATASET_DIR = "/home/docker_opr/Datasets/OpenPlaceRecognition/itlp_campus_indoor"
TRACK_DIR = "/home/docker_opr/Datasets/OpenPlaceRecognition/itlp_campus_indoor/00_2023-10-25-night"
FLOOR_DIR = "/home/docker_opr/Datasets/OpenPlaceRecognition/itlp_campus_indoor/00_2023-10-25-night/floor_1"

SENSOR_SUITE = ["front_cam", "back_cam", "lidar"]

In [4]:
dataset = ITLPCampus(
    dataset_root=WHOLE_DATASET_DIR,  # or TRACK_DIR or FLOOR_DIR
    subset="test",  # "train", "val", "test"
    csv_file="dataset.csv",  # "dataset.csv" for whole dataset, "track.csv" for others (default: "track.csv")
    sensors=SENSOR_SUITE,
    load_semantics=True,
    test_split=[2, 4],
)

In [5]:
dataset.dataset_df.head()

,track,floor,timestamp,front_cam_ts,back_cam_ts,lidar_ts,tx,ty,tz,qx,qy,qz,qw,in_query
0,00_2023-10-25-night,1,1698261916110997248,1698261916079525918,1698261916133400232,1698261916118030206,0.959779,0.115280,0.174777,0.003715,0.021625,-0.009529,0.999714,True
1,00_2023-10-25-night,1,1698261919947099136,1698261919989981582,1698261919958934008,1698261919949914333,1.970349,0.092353,0.215496,0.000245,0.021675,-0.011276,0.999701,True
2,00_2023-10-25-night,1,1698261924788644608,1698261924839160306,1698261924750200962,1698261924794785667,2.925087,-0.194681,0.145523,-0.003372,-0.000177,-0.438341,0.898803,True
3,00_2023-10-25-night,1,1698261927108711168,1698261927155410783,1698261927160027084,1698261927112342085,3.258548,-1.143186,0.169950,0.006957,-0.004470,-0.790076,0.612953,True
4,00_2023-10-25-night,1,1698261928823959552,1698261928881528451,1698261928810166118,1698261928827508396,2.781098,-2.026904,0.138110,0.010147,-0.007024,-0.912666,0.408520,True

In [6]:
len(dataset), dataset[0].keys()

(2543,
 dict_keys(['idx', 'pose', 'image_front_cam', 'mask_front_cam', 'image_back_cam', 'mask_back_cam', 'pointcloud_lidar_coords', 'pointcloud_lidar_feats']))